.retspy-popup-menu {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 6px;
    border-top-left-radius: 0;
    display: block;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 500;
}

.retspy-popup-menu .retspy-menu {
    display: grid;
    grid-template-rows: auto;
    row-gap: 8px;
}

.retspy-group {
    display: grid;
    grid-template-columns: 64px auto;
}

.retspy-group+.retspy-group {
    margin-top: 8px;
}

.retspy-label+.retspy-group {
    margin-top: 4px;
}
